/* Global */

html{
    font-family: Verdana;
    color: white;
    background-color: black;
    text-align: center;
}

a{
    color: aquamarine;
    font-size: 16px;
}

/*  Header */

header h1 {
    font-size: 50px;
}




/*  Main body, to host iphone playing mp4 */


/*  Section with info about application */


/*  Section about mobile accessability*/


/*  Footer to include copyright */