/* Global */

html{
    font-family: Verdana;
    color: white;
    background-color: black;
    text-align: center;
}

a{
    color: aquamarine;
    font-size: 16px;
}

/*  Header */

header h1 {
    font-size: 50px;
}




/*  Main body, to host iphone playing mp4 */

        /* No styling required*/


/*  Section with info about application */

.travelGuide h1{
    font-weight: 300;
    font-size: 42;
}

.travelGuide p{
    font-size: 21px;
    color: gray;
}

/*  Section about mobile accessability*/


/*  Footer to include copyright */